body {
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;
	background-color: transparent;
}

.navbar {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

}
.jumbotron {
	background-image: url(https://unsplash.it/1400/600?image=893);
	background-position: top;
	background-size: cover;
	background-color: #333;
	padding-left: 0;
	height: 200px;
}

.main-content {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 6px;
}

.page-header {
	margin: -20px 0 20px ;
}

#profilePicture {
	width: 250px;
	float:left;
	border-radius: 6px;
	margin: 0 10px 10px 0;

}



.icon {
	width: 60px;
	border-radius: 5px;
}

.footer {
	background-color: #f5f5f5;
	padding: 20px 0;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #735;
	border-radius: 6px;
}
