/*My styling modifications to a Bootswatch theme "United"*/

body {
	background-image: url(../images/cream_pixels.png);
	background-repeat: repeat;
	background-color: transparent;
}

.navbar { /*removing top rounded corner*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

/* JUMBOTRON STYLING */
}
.container .jumbotron {
	padding-right: 10px;
	padding-top: 100px;
}

.jumbotron {
	background-image: url(https://unsplash.it/1400/600?image=893);
	background-position: top;
	background-size: cover;
	background-color: #333;
	height: 200px;
	text-align: right;
}

.jumbotron-heading {
	font-size: 26px;
	font-style: bold;
	letter-spacing: 2.5px;
	color: #f5f5f5;
	background-color: #333;
	padding: 10px;
}

/* MAIN CONTENT STYLING */

.main-content {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 6px;
}

.page-header {
	margin: -20px 0 20px ;
}

#profilePicture {
	width: 250px;
	float:left;
	border-radius: 6px;
	margin: 0 10px 10px 0;
}

/*ASIDE/PANEL STYLING*/

.icon {
	width: 60px;
	border-radius: 5px;
}

/* FOOTER STYLING */
.footer { 
	background-color: #f5f5f5;
	padding: 20px 0;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #dddddd;
	border-radius: 6px;
}
